*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(135deg,#061326,#101f36,#1d3d6d);

overflow:hidden;

}

.background{

position:absolute;

width:600px;

height:600px;

border-radius:50%;

background:#4aa5ff;

filter:blur(180px);

opacity:.4;

animation:move 10s infinite alternate;

}

@keyframes move{

from{

transform:translate(-120px,-120px);

}

to{

transform:translate(120px,120px);

}

}

.calculator{

width:370px;

padding:25px;

border-radius:35px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(40px);

-webkit-backdrop-filter:blur(40px);

border:1px solid rgba(255,255,255,.15);

box-shadow:

0 25px 70px rgba(0,0,0,.4),

inset 0 1px rgba(255,255,255,.2);

}

.display{

height:130px;

border-radius:25px;

background:rgba(255,255,255,.05);

display:flex;

flex-direction:column;

justify-content:flex-end;

padding:20px;

margin-bottom:20px;

overflow:hidden;

}

#history{

color:#9fb6d9;

font-size:18px;

text-align:right;

min-height:25px;

}

#screen{

color:white;

font-size:48px;

font-weight:600;

text-align:right;

}

.buttons{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;

}

button{

height:70px;

border:none;

border-radius:20px;

cursor:pointer;

background:rgba(255,255,255,.08);

color:white;

font-size:24px;

transition:.25s;

backdrop-filter:blur(15px);

}

button:hover{

transform:translateY(-4px);

background:rgba(255,255,255,.15);

}

button:active{

transform:scale(.95);

}

.operator{

background:#1b8cff;

}

.equal{

grid-row:span 2;

background:#007AFF;

}

.zero{

grid-column:span 2;

}
